{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h2 class="text-center my-4">Job Details</h2>
  <h3>{{ job_details.title }}</h3>
  <p class="lead">{{ job_details.location }}</p>
  <h4>Responsibilities</h4>
  <ul>
    {% for responsibility in job_details.responsibilities.split('\n') %}
    <li>{{ responsibility }}</li>
    {% endfor %}
  </ul>
  <h4>Requirements</h4>
  <ol>
    {% for requirement in job_details.requirements.split('\n') %}
    <li>{{ requirement }}</li>
    {% endfor %}
  </ol>
  <h4>Salary</h4>
  <p>₹{{ job_details.salary | indian_number }}</p>
</div>

<div class="container">
  <h2 class="text-center my-4">Application Form</h2>

  <form action="/job/{{ job_details.id }}/apply" method="post">
    <fieldset class="border p-4 rounded-2">
      <div class="form-group mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" required>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="resume" class="col-sm-2 col-form-label">Resume URL</label>
        <div class="col-sm-10">
          <input type="url" class="form-control" id="resume" name="resume" placeholder="Enter your resume url" required>
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
