<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Careers</title>
</head>

<body>
  <div class="wrapper">
    <h1>Acme Careers</h1>
    <img class="banner" src="../static/banner.jpg" alt="motivational quote">

    <h2>About Acme Corporation</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione in fugiat eius inventore repellendus recusandae
      sunt, doloremque exercitationem quo distinctio, possimus dignissimos culpa ducimus non voluptates quasi deserunt
      optio! Deleniti doloribus aliquid inventore? Odio ut dolorum nesciunt itaque dolores perspiciatis voluptatum
      explicabo! Architecto sint ratione accusamus, dolor eveniet dolorem earum!
    </p>
  </div>
</body>

</html>
