<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Careers</title>
</head>

<body>
  <h1>Acme Careers</h1>
  <img src="../static/banner.jpg" alt="motivational quote">

  <h2>About Acme Corporation</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae neque vel quas inventore repellat voluptates delectus perferendis quam! Mollitia minus eum quam quisquam commodi eaque laudantium praesentium unde ullam, tempore atque neque, assumenda temporibus quidem doloribus amet excepturi voluptate perferendis cupiditate dicta consequatur. Enim, explicabo. Aliquam quae voluptas adipisci consequatur exercitationem, ipsum voluptatibus ut ipsa facilis facere accusantium sed! Itaque, fugit assumenda minus quibusdam earum ducimus quos veritatis debitis. Quasi architecto error rerum ipsam non recusandae hic vitae dolore iste sint alias, nulla sed animi veniam eius praesentium rem at ut unde! A dolorum nihil dicta veniam tenetur. Quae, animi.
  </p>
</body>

</html>
